* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Risque", cursive;
  color: rgb(255, 255, 255);
}

body {
}

/* *Main Nav */

header {
  height: 10vh;
  background: #b1b2b6;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 1.5rem;
}

.logo img {
  flex: 1 1 25rem;
  height: auto;
  width: 35rem;
}

.links ul {
  display: flex;
  flex: 1 1 25rem;
  list-style: none;
  justify-content: space-between;
}

.links ul li {
  padding: 0 1rem;
  font-size: 1.7rem;
}

.links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1.1rem;
  transition: 0.2s ease-in-out;
}

.links a:hover {
  background: rgba(0, 0, 0, 0.11);
  border-radius: 2.5rem;
}

/* *Main Section */

.hero {
  min-height: 90vh;
  background: url("./img/Background.png");
  background-size: cover;
  width: 100%;
  margin: auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  font-family: "Courgette", cursive;
  font-size: 5.5rem;
  margin-bottom: 8rem;
}

.order-now {
  background: rgb(255, 255, 255);
  padding: 2rem 4.5rem;
  border-radius: 2.5rem;
  color: #d0223b;
  font-family: "Risque", cursive;
  font-size: 2.2rem;
  outline: none;
  border: 0.2rem solid #d0223b;
  cursor: pointer;
}

.order-now:hover {
  color: rgb(255, 255, 255);
  background: #d0223b;
  transition: 0.4s ease-in-out;
}
